<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>

  .main-margin {
    margin: 82px auto 32px;
    padding: 0 16px;
  }


</style>

<!-- Toolbar -->
<div class="main-margin container">
  <div class="row">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="mb-3 custom-file">
        <label for="formFile" class="form-label custom-file-label">Default file input example</label>
        <input class="form-control custom-file-input" type="file" id="formFile" (change)="upload($event)">
      </div>
      <div>
        <button type="submit">Upload</button>
      </div>
    </form>
  </div>
  <div class="row">
    hola
      <ag-grid-angular class="ag-theme-material grid-size" [rowData]="rowData" [gridOptions]="gridOptions" [columnDefs]="columnDefs" (gridReady)="onGridReady($event)">
      </ag-grid-angular>

  </div>


</div>
