
<div class="container m-auto">
  <div class="row" style='margin-top: 2%;'>
    <div class="col">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="row">
          <div class="mb-3 custom-file col">
            <label for="formFile" class="form-label custom-file-label">{{file?.name || 'Sube un archivo csv'}}</label>
            <input class="form-control custom-file-input" type="file" id="formFile" (change)="upload($event)" accept=".csv">
          </div>
          <div class="col">
            <button type="submit" class="btn btn-primary">Subir</button>
          </div>
        </div>

      </form>
    </div>


  </div>
  <div class="row align-items-start">
    <div class="col">
      <div>
        <button type="submit" class="btn btn-primary" (click)="openCreateBillModal()">Crear</button>
      </div>
    </div>
    <div class="col">
      <div>
        <button type="submit" class="btn btn-primary" (click)="deleteBills()" [disabled]="!(gridApi && gridApi.getSelectedRows().length)" >Eliminar seleccionados</button>
      </div>
    </div>
  </div>
  <div class="row" style='height: 100%; margin-top: 2%'>
      <ag-grid-angular class="ag-theme-alpine grid-size"
                       [rowData]="rowData"
                       [gridOptions]="gridOptions"
                       [columnDefs]="columnDefs"
                       (gridReady)="onGridReady($event)"
                       [rowSelection]="'multiple'">
      </ag-grid-angular>

  </div>

</div>
<app-toast aria-live="polite" aria-atomic="true"></app-toast>
