<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Fecha</label>
    <input type="text" class="form-control" id="formGroupExampleInput" name='date' [(ngModel)]="date">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Hora</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" name='time' [(ngModel)]="time">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput3">Consumo (Wh)</label>
    <input type="text" class="form-control" id="formGroupExampleInput3" name='consumption' [(ngModel)]="consumption">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput4">Precio (€/kWh)</label>
    <input type="text" class="form-control" id="formGroupExampleInput4" name='price' [(ngModel)]="price">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput4">Coste por hora (€)</label>
    <input type="text" class="form-control" id="formGroupExampleInput5" name='pricePerHour' [(ngModel)]="pricePerHour">
  </div>
</form>
