<form class="needs-validation">
  <div class="form-group" >
    <label for="formGroupExampleInput">Fecha*</label>
    <input type="text" class="form-control" [ngClass]="{'invalid': !validated && !date}" id="formGroupExampleInput" name='date' [(ngModel)]="date" required>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Hora*</label>
    <input type="text" class="form-control" [ngClass]="{'invalid': !validated && !time}" id="formGroupExampleInput2" name='time' [(ngModel)]="time" required>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput3">Consumo (Wh)*</label>
    <input type="text" class="form-control" [ngClass]="{'invalid': !validated && !consumption}" id="formGroupExampleInput3" name='consumption' [(ngModel)]="consumption" required>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput4">Precio (€/kWh)*</label>
    <input type="text" class="form-control" [ngClass]="{'invalid': !validated && !price}" id="formGroupExampleInput4" name='price' [(ngModel)]="price" required>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput4">Coste por hora (€)*</label>
    <input type="text" class="form-control" [ngClass]="{'invalid': !validated && !pricePerHour}" id="formGroupExampleInput5" name='pricePerHour' [(ngModel)]="pricePerHour" required>
  </div>
</form>
